<h3>
  Table 4:
</h3>
<h4>Highlight header row and column <small>(row:{{ rowj }}, column:{{ columni}})</small></h4>
<div class="row panel panel-default">
  <div class="col-md-2" *ngFor="let col of table; let j=index">
    <div *ngFor="let row of col; let i=index" (mouseover)="columni=i; rowj=j" [ngStyle]="{'backgroundColor': i==0 || j==0 ? 'silver':'transparent', 'font-weight': (j==0 || i==0) || (rowj==j && columni==i) ? 'bold' : 'normal', 'color': (j==rowj && i==0) || (i==columni && j==0) ? 'teal':'black', 'text-align':'center'}">
      row:{{ i }}, col:{{ j }}
    </div>
  </div>
</div>
