<h3>
  highlight-table works!
</h3>
<style>
  .container {
    display: flex;
  }

  .stuart {
    flex: 1;
    flex-direction: row;
  }

  .shane {
    align-content: center;
  }
</style>
<!-- <div class="container"> -->
<!-- <div *ngFor="let col of table; let i=index">
  <div *ngFor="let row of col; let j=index">
    <span (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover==true ? 'pink' : 'transparent'}">{{ row['r' + j + 'c' + i] }}</span>
  </div>
</div> -->
<!-- </div> -->
<div class="container">
  <div class="row">
    <div *ngFor="let col of table; let j=index">
      <div class="col-md-2" *ngFor="let row of col; let i=index" (mouseover)="columni=i; rowj=j" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: rowj!=j && columni!=i ?'transparent' : 'lightblue'; backgroundColor: j==0 ?'transparent' : 'lightblue'}">
        {{ row['r' + j + 'c' + i] }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- row: {{ rowj }}; column: {{ columni }} -->
    </div>
  </div>
</div>
